@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.login-block {
    margin-top: 60px;
    background: #DE6262;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding: 56px 0;
}


.login-sec {
    padding: 50px 30px !important;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec .copy-text i {
    color: #FEB58A;
}

.login-sec .copy-text a {
    color: #E36262;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FEB58A;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.register-btn .detail-box a {
    margin-top: 50px;
}

.btn.btn-login {
    background: #DE6262 !important;
    color: #fff !important;
    font-weight: 600 !important;
    float: right;
}
.btn-login:hover {
    color: black !important;
}

.form-group {
    margin-bottom: 1rem;
}

/* -------------------------------------------------------- */
/* Register form */
.register_section {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.register_container {
    border-radius: 3px;;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.3s;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.register_open {
    display: flex;
}
.register_close {
    position: absolute;
    right: 0;
    top: 0;
    color: #000000;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.register_close:hover {
    opacity: 1;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}
/* ---------------------------------------------------------- */

body {
    font-family: 'Mulish', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    /* overflow-x: hidden; */
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}


.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
}

.heading_container h2 span {
    color: #44b89d;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*header section*/
.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sub_page .hero_area {
    min-height: auto;
}

.header_section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #063547;
}

.top_nav_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    position: relative;
}

.search_form .form-control {
    border-radius: 45px;
    height: 40px;
    min-width: unset;
    border: none;
}

.search_form button {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #44b89d;
    border-radius: 100%;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand span {
    color: #ffffff;
}

.custom_nav-container {
    padding: 0;
}

.custom_nav-container .navbar-nav {
    margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
    color: #ffffff;
    text-align: center;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

/*end header section*/
.detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #44b89d;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #44b89d;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 15px;
}

.about_section {
    position: relative;
    background-color: #f5f6f9;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box img {
    width: 100%;
}

.about_section .detail-box p {
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #44b89d;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #44b89d;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    background-color: transparent;
    color: #44b89d;
}

.info_section {
    background-color: #063547;
    color: #ffffff;
    padding: 45px 0 15px 0;
}

.info_section h4 {
    font-weight: 600;
    margin-bottom: 20px;
}

.info_section .info-col {
    margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
    margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
    color: #44b89d;
}

.info_section .info_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.info_section .info_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #063547;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 5px;
    font-size: 18px;
}

.info_section .info_social a:hover {
    color: #44b89d;
}

.info_section form input {
    border: none;
    padding: 10px 15px;
    background-color: #f7f8f9;
    width: 100%;
    height: 45px;
    color: #000000;
    outline: none;
    border-radius: 45px;
}

.info_section form input::-webkit-input-placeholder {
    color: #556;
}

.info_section form input:-ms-input-placeholder {
    color: #556;
}

.info_section form input::-ms-input-placeholder {
    color: #556;
}

.info_section form input::placeholder {
    color: #556;
}

.info_section form button {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 55px;
    background-color: #44b89d;
    color: #ffffff;
    border-radius: 45px;
    border: 1px solid #44b89d;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 15px;
}

.info_section form button:hover {
    background-color: transparent;
    color: #44b89d;
}


